<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <% if !user_signed_in? %>
      <li><a href="/users/sign_up">Sign up</a></li>
      <li><a href="/users/sign_in">Log in</a></li>
    <% end %> 
     <% if user_signed_in? %>
     <li><a href="/posts">Home</a></li>
     <li><a href="/posts/new">Create a new Blog</a></li>
     <li><%=link_to "Log out", destroy_user_session_path,
                                              method: :delete %>
     </li>
     <div class='current-user'><li><a href="/profile/<%=current_user.id %>"><%= current_user.email %></a></li></div>

     <% end %>
  </nav>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> 
  </body>
</html>
